.offer-page{
    background: #ddd;
    height: 100%;
}
.offer-header{
    padding: 0.75rem 1.25rem;
    background: #555;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    color: white;
}
.offer-form-header {
	border-radius: 8px 8px 0 0;
	background-color: #ffc107;
	color: white;
	padding: 1.5rem 3rem;
    margin: 0 auto;
}
.offer-form-body{
    margin: 0 auto;
    background: white;
    border-radius: 0 0 8px 8px;
    padding: 3rem;
}
.offer-buttons{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.offer-buttons button{
    margin: 0 2rem;
}