<div class="offer-page">
  <div class="offer-header">
    <h1 style="color: #ffc107;">Pool Carz</h1>
  </div>
  <div class="col-8 offer-form-header">
	<h3>Offer A New Ride</h3>
  </div>
  <div class="col-8 offer-form-body">
    <form [formGroup]="offerRideForm" (ngSubmit)="onOfferRide()">
      <div class="form-group">
        <label class="col-form-label">Owner's Name</label>
        <input type="text" formControlName="owner"class="form-control">
      </div>
	  <div class="row">
        <div class="form-group col-6">
          <label class="col-form-label">Pickup</label>
          <input type="text" formControlName="pickup" class="form-control">
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">Destination</label>
          <input type="text" formControlName="destination" class="form-control">
        </div>
      </div>
	  <div class="row">
        <div class="form-group col-6">
          <label class="col-form-label">Car</label>
          <input type="text" formControlName="car" class="form-control">
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">Seats Available</label>
          <input type="number" formControlName="available" class="form-control">
        </div>
      </div>
      <div class="offer-buttons">
        <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
        <button type="submit" [disabled]="offerRideForm.invalid" class="btn btn-warning">Offer</button>
      </div>
    </form>
  </div>
</div>