.login-container{
    display: flex;
}
.large-canvas{
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: white;
}
.login-form{
    padding: 10%;
}
.login-group{
    margin-bottom: 1rem;
}
.login-group span {
    padding: 0 1.5rem;
}