<div class="details-section">
  <div class="details-text">Ride Details</div>
  <div class="details-body table-responsive">
    <!-- <label>From:</label> {{selectedRide.pickup}} <label>To:</label> {{selectedRide.destination}} -->
    <table class="table">
      <tr style="text-align: center" class="row">
        <th class="col-2">Owner</th>
        <th class="col-2">Car</th>
        <th class="col-3">Pickup</th>
        <th class="col-3">Destination</th>
        <th class="col-2">Seats Available</th>
      </tr>
      <tr style="text-align: center" class="row">
        <td class="col-2">{{selectedRide.owner}}</td>
        <td class="col-2">{{selectedRide.car}}</td>
        <td class="col-3">{{selectedRide.pickup}}</td>
        <td class="col-3">{{selectedRide.destination}}</td>
        <td class="col-2">{{selectedRide.available}}</td>
      </tr>
    </table>
  </div>
  <div class="detail-buttons">
    <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
    <button (click)="onBookRide()" class="btn btn-warning">Book</button>
  </div>
</div>