.landing-header{
    padding: 0.75rem 3rem;
    background: #555;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.landing-text{
    font-size: 2em;
    text-align: center;
}
.landing-body{
    padding: 0.75rem 1.25rem;
}
.ride-book-msg{
    text-align: center;
    color: green;
    font-size: 1.2em;
}
.filter-options{
    display: flex;
    justify-content: flex-end;
    margin: 1.5rem 0;
}
.filter-options button{
    margin: 0 0.2%
}